
.dotvertical {
    background-color:darkslateblue;
    width:12px;
    height:12px;
    border-radius:15px;
}
.linevertical {
    background-color:darkslategray;
    height:100px;
    width:10px;
    position:relative;
    left:5px;
    display: inline-block;
}
/*.linevertical:hover{*/
    /*background-color:yellow;*/
/*}*/
/*.linevertical:active{*/
    /*background-color:red;*/
/*}*/
.dothorizontal{
    background-color:black;
    width:12px;
    height:12px;
    border-radius:15px;
    display: inline-block;
}
.linehorizontal{
    background-color:darkslategray;
    height:10px;
    width:100px;
    position:relative;
    display: inline-block;
}
.activepo {
    background-color: lightskyblue;
}
.activept{
    background-color: rebeccapurple;
}
/*.linehorizontal:hover{*/
    /*background-color:yellow;*/
/*}*/
/*.linehorizontal:active{*/
    /*background-color:red;*/
/*}*/
.rules{
    max-width: 800px;
    padding:0 50px 0 50px;
    margin-left: auto;
    margin-right: auto;
}
.button {
    display: inline-block;
    padding: 5px 5px;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: black;
    border: none;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 10px -125px;
    top: 50%;
    left: 50%;
    position: relative;
}
.button:hover {
    background-color: black;
}
.button:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/*tr th {*/
/*width: 50px;*/
/*height: 50px;*/
/*border-bottom: 5px gray solid;*/
/*}*/
/*tr td {*/
/*width:50px;*/
/*height:50px;*/
/*border-left:5px gray solid;*/
/*border-bottom: 5px gray solid;*/
/*}*/
/*tr td:nth-last-child(1){*/
/*width:50px;*/
/*height:50px;*/
/*border-right:5px gray solid;*/
/*border-bottom: 5px gray solid;*/
/*}*/
/*table{*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*}*/
/*tr:nth-child(1) td{*/
/*border-top:5px gray solid;*/
/*}*/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Verdana, sans-serif;
    background-repeat: no-repeat;
    /*background-position: center;*/
    /*background-size:auto;*/
}

canvas {
    width: 100%;
    background-color: black;
}

.top-active{
    background-color: green;
    box-shadow: 0 5px #666;
    transform: translateY(4px);


}
.top-hover{
    background-color: black;
}

.mystyle {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
}

.cell{
    display:inline-block;
    width:100px;

}
.playfield {
    margin: 0 auto;
    width: 750px;
    margin-left:525px;
    margin-top:200px;
}
/*.active {*/
    /*background-color: red;*/
/*}*/

h1{
    color:-moz-cellhighlight;
    font-family: Verdana, sans-serif;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: blanchedalmond;
}
h2{
    text-align:center;
    color:white;
    font-family: Verdana, sans-serif;
}
h3{
    font-family: Verdana, sans-serif;
    color:white;
    text-align: center;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 17px;
}

.container {
    position: relative;
    max-width:100%;
    margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
    position: absolute;
    bottom: 400px;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
.btn{
    background-color: white;
    cursor:pointer;
    background: blanchedalmond;
    color: black;
    border-style: outset;
    border-color: #0066A2;
    height: 25px;
    width: 150px;
    font: bold 15px Verdana, sans-serif;
    text-shadow:none;
}
