
.dotvertical {
    background-color:black;
    width:12px;
    height:12px;
    border-radius:15px;
}
.linevertical {
    background-color: darkgrey;
    height:100px;
    width:10px;
    position:relative;
    left:5px;
    display: inline-block;
}

.dothorizontal{
    background-color: darkgrey;
    width:12px;
    height:12px;
    border-radius:15px;
    display: inline-block;
}
.linehorizontal{
    background-color:darkgrey;
    height:10px;
    width:100px;
    position:relative;
    display: inline-block;
}

.rules{
    max-width: 800px;
    padding:0 50px 0 50px;
    margin-left: auto;
    margin-right: auto;
}
.button {
    display: inline-block;
    padding: 5px 5px;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: black;
    border: none;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 10px -125px;
    top: 50%;
    left: 50%;
    position: relative;
}
.button:hover {
    background-color: black;
}
.button:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Verdana, sans-serif;
    background-repeat: no-repeat;
    /*background-position: center;*/
    /*background-size:auto;*/
}

canvas {
    width: 100%;
    background-color: black;
}


.top-hover{
    background-color: black;
}

.mystyle {
    width: 100%;
    padding: 25px;
    background-color: white;
    color: white;
    font-size: 25px;
}
.cell.p1{
    background-color:  #69CDC1;
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    position: relative;
}
.cell.p2{
    background-color: #E876AA;
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.cell{
    display:inline-block;
    width:100px;

}
.playfield {
    margin: 0 auto;
    width: 750px;
    margin-left: 670px;
    margin-top: 185px;
    position: absolute;
    z-index: 1000;
}
.active {
    background-color: black;
}
h1{
    color:-moz-cellhighlight;
    font-size: 45px;
    font-family: Verdana, sans-serif;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: #EC9F6F;
}
h2{
    text-align:center;
    color:black;
    font-family: Verdana, sans-serif;
}
h3{
    font-family: Verdana, sans-serif;
    color:white;
    text-align: center;
}
h4{
    font-size: 40px;
    color: #69CDC1;
    text-align:center;
    font-family: Verdana, sans-serif;
}
h5{
    text-align:center;
    font-family: Verdana, sans-serif;
    font-size: 40px;
    color:#E876AA ;

}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 17px;
}
.container {
    position: relative;
    max-width:100%;
    margin: 0 auto;
}
.container img {vertical-align: middle;}
.container .content {
    position: absolute;
    bottom: 400px;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
.btn {
    background-color: black;
    cursor: pointer;
    background: #EC9F6F;
    color: black;
    border-style: outset;
    border-color: #0066A2;
    height: 25px;
    width: 150px;
    font: bold 15px Verdana, sans-serif;
    text-shadow: none;
}
#backgroundImage {
background-image: url("http://yo2mo.com/wp-content/uploads/2016/05/chalkboard-background-blank.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
position: fixed;
}

.bg{
    z-index: -1;
    position: fixed;
    height: 100%;
    width: 100%;
    padding-left:270px;
}

.score-board {
    text-align: left;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 8px;
    left: 16px;
    color: lightgrey;
}
.score {
    display: inline-block;
    padding: 15px;
    color: black;
    text-align: center;
}
.player-score{
    margin-top: 45px;
    color: white;
    font-size: 75px;
}
.player h4 h5 {
    font-weight: bold;
    color: black;
    font: bold 75px Verdana, sans-serif;
}
.score-boxp1 {
    border: 6px solid black;
    background-color: #69CDC1;
    height: 200px;
    width: 200px;
}
.score-boxp2{
    border: 6px solid black;
    background-color: #E876AA;
    height: 200px;
    width: 200px;
}
p{
    font: bold 40px Verdana, sans-serif;
    color: #EC9F6F;
    text-align: center;
}
.playerx{
    font: bold 35px Verdana, sans-serif;
    color:yellow;
    align: center;
}
.deactivate{
    background-color: darkgrey;
}
.btnbtn{
    background-color: #EC9F6F;
    cursor: pointer;
    background: darkgrey;
    color: black;
    border-style: outset;
    border-color: #0066A2;
    height: 25px;
    width: 150px;
    font: bold 15px Verdana, sans-serif;
    text-shadow: none;
}

